@mixin hundreds {
    width:100%;
    height:100%;
}

@mixin flexCenter {
    display: flex;
    justify-content: center; 
    align-items: center;
}

@keyframes growanim{
    0%{
        width: 0%;
    }
    100%{
        z-index:0;
        width:100%;
    }
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.coralBG{
    &:after{
        background: lightcoral;
    }
}

.sblueBG{
    &:after{
        background: lightsteelblue;
    }
}

.grayBG{
    &:after{
        background: lightslategray;
    }
}

.animateAfter{
    &:after{
        z-index: 0;
        animation: growanim 3s linear;
        animation-timing-function: cubic-bezier(.47,.99,.92,.8);
        animation-fill-mode:forwards;
    }
}

.overflowH{
    overflow: hidden;
}
