@import 'include-media';

$logo-grid-column:#{"1/2"};
$logo-grid-row:#{"1/1"};
$name-grid-column:#{"2/4"};
$name-grid-row:#{"1/1"};

@mixin getMediaSettings(){
    @include media(">=0" and "<=800px"){
        $logo-grid-column:#{"1/2"} !global;
        $logo-grid-row:#{"1/1"} !global;
        $name-grid-column:#{"2/4"} !global;
        $name-grid-row:#{"1/1"} !global;
    }
    @include media(">800px" and "<=1000px"){
        $logo-grid-column:#{"2/4"} !global;
        $logo-grid-row:#{"1/3"} !global;
        $name-grid-column:#{"4/10"} !global;
        $name-grid-row:#{"1/3"} !global;
    }
    @include media(">1000px" and "<=1400px"){
        $logo-grid-column:#{"2/4"} !global;
        $logo-grid-row:#{"1/3"} !global;
        $name-grid-column:#{"4/10"} !global;
        $name-grid-row:#{"1/3"} !global;
    }
    @include media(">1400px"){

    }
}

