@import 'Function';
@import 'Writer';

@mixin hundreds {
    width:100%;
    height:100%;
}

.Logo{
    @include hundreds;
    @include getLogoGridLocation();
    img{
        @include hundreds;
    }
}

.Name{
    justify-self: start;
    align-self: end;
    @include getNameGridLocation();
    overflow-x: auto;
}
