@import 'include-media';

.maincontainer{
    display: flex;
    justify-content: center;
    font-size: 3em;
    margin: 1em 1em;
}

@keyframes slideIn{
    0%{
        transform: translateY(-75%);
    }
    100%{
        transform: translateY(0%);
    }
}

.Character{
    text-align: center;
    visibility: hidden;
    font-size:0.8em ;
    width:0.8em;
}

@include media('>600px'){
    .Character{
        width: 1em;
        font-size: 1.2em;
    }
}

.show{
    visibility:inherit;
    transform: translateY(0%);
    animation: slideIn 0.3s linear ;
}

