@import "Function";

@keyframes growanim{
    0%{
        width: 0%;
    }
    100%{
        width:100%;
    }
}

.ProjectContainer{
    @include getProjDisplayOption();
    border-radius: 10px;
    width: 0%;
    height:100%;
    animation: growanim 3s linear;
    animation-fill-mode: forwards;
    transition: background 1.8s ease-in-out;
    overflow: hidden;
}

.coral{
    background: lightcoral;
}

.sblue{
    background: lightsteelblue;
}

.gray{
    background: lightslategray;
}
