$perspective:800;

.scene{
    transform-style:preserve-3d;
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: 50% 50%;
    perspective: 1000px;
}

.plane{
    background-color: rgba($color: lightslategray, $alpha: 0.7);
    height: 100vmin;
    width:100vmin;
    transform-style:preserve-3d ;
    transition: all 3s linear;
    transform: rotateX(-20deg) rotateY(-20deg) rotateX(90deg) translate3d(0,0,-0vmin);
}

.iconClass{
    width:100%;
    height:100%;
}

.cuboid{
    transform-style:preserve-3d ;
    position: absolute;
    font-size:1rem;
    box-sizing: border-box;
    transform-origin: 50% 50%;
    transition: transform 1s linear;
}

.cuboid div{
    transform-style:preserve-3d ;
    border: 5px solid black;
    background: lightcoral;
    text-align: center;
}
