@import 'include-media';
@import 'Function';
@import 'common';

@keyframes slideIn{
    0%{
        transform: translateY(-75%);
        visibility: visible;
    }
    100%{
        transform: translateY(0%);
        visibility: visible;
    }
}

@keyframes growanim{
    0%{
        width: 0%;
    }
    100%{
        width:100%;
    }
}

.MainWriter{
    background-color: #FFEEDB;
    @include flexCenter();
    z-index: 1;
    width:100%;
    height: 60%;
    transition: all 1s linear;
    @include media("<800px"){
        height:30%;
    }
    @include media("<600px"){
        height: 10%;
    }
    position: relative;

    &:after{
        content:'';
        position: absolute;
        top:100%;
        left:0%;
        height:3px;
        width:100%;
        transition: background 1.8s ease-in-out;
    }

    @for $index from 1 to 30 {
        .Character:nth-child(#{$index}){
            animation-delay:(0.1s+($index * 0.1s));
        }
    }
}

.coral{
    &:after{
        background: lightcoral;
    }
}

.sblue{
    &:after{
        background: lightsteelblue;
    }
}

.gray{
    &:after{
        background: lightslategray;
    }
}

.Character{
    visibility: hidden;
    width: 3.2vw;
    font-size:1em;
    text-align: center;
    animation: slideIn 0.1s linear;
    animation-fill-mode: forwards;

    @include media(">450px"){
        width: 3.2vw;
        font-size:1em;
    }

    @include media(">600px"){
        width: 4.3vw;
        font-size:2.5em;
    }

    @include media(">800px"){
        font-size:3.9em;
        width: 4.5vw;
    }
}

.show{
    visibility:visible;
    transform: translateY(0%);
}

