@import 'include-media';
@import 'mediavarload';
@import 'Function';

@mixin hundreds {
    width:100%;
    height:100%;
}

@keyframes slideIn{
    0%{
        transform: translateY(-75%);
        visibility: visible;
    }
    100%{
        transform: translateY(0%);
        visibility: visible;
    }
}

@keyframes growanim{
    0%{
        width: 0%;
    }
    100%{
        width:100%;
    }
}

.MainWriter{
    display: flex;
    align-items: center;
    overflow: visible;
    width:100%;
    height: 60%;
    justify-content: center;
    @include media("<800px"){
        height:30%;
    }
    @include media("<600px"){
        height: 10%;
    }
    position: relative;

    &:after{
        content:'';
        z-index: 0;
        position: absolute;
        height:3px;
        top:100%;
        left:0%;
        width:0%;
        animation: growanim 3s linear;
        background: lightslategray;
        animation-fill-mode: forwards;
        transition: background 1.8s ease-in-out;
    }

    @for $index from 1 to 30 {
        .Character:nth-child(#{$index}){
            animation-delay:(0.1s+($index * 0.1s));
        }
    }
}

.blue{
    &:after{
        background: lightcoral;
    }
}

.gray{
    &:after{
        background: lightsteelblue;
    }
}

.Character{
    visibility: hidden;
    width: 3.2vw;
    font-size:1em;
    text-align: center;
    animation: slideIn 0.1s linear;
    animation-fill-mode: forwards;
    z-index: 1;

    @include media(">450px"){
        width: 3.2vw;
        font-size:1em;
    }

    @include media(">600px"){
        width: 4.3vw;
        font-size:2.5em;
    }

    @include media(">800px"){
        font-size:3.9em;
        width: 4.5vw;
    }
}

.show{
    visibility:visible;
    transform: translateY(0%);
}

